<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
  <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="EurekaCraft"/>
  <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.minecraftforge.userdev.LaunchTesting"/>
  <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dforge.logging.console.level=debug -Dforge.logging.markers=REGISTRIES -XX:+IgnoreUnrecognizedVMOptions --add-exports=java.base/sun.security.util=ALL-UNNAMED --add-exports=jdk.naming.dns/com.sun.jndi.dns=java.naming --add-opens=java.base/java.util.jar=ALL-UNNAMED"/>
  <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=""/>
  <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/home/bradsk88/Projects/EurekaCraft/run"/>
  <mapAttribute key="org.eclipse.debug.core.environmentVariables">
    <mapEntry key="MOD_CLASSES" value="examplemod%%/home/bradsk88/Projects/EurekaCraft/bin/main:examplemod%%/home/bradsk88/Projects/EurekaCraft/bin/main"/>
    <mapEntry key="MCP_MAPPINGS" value="official_1.16.5"/>
    <mapEntry key="MCP_VERSION" value="20210115.111550"/>
    <mapEntry key="FORGE_VERSION" value="36.2.20"/>
    <mapEntry key="assetIndex" value="1.16"/>
    <mapEntry key="assetDirectory" value="/home/bradsk88/.gradle/caches/forge_gradle/assets"/>
    <mapEntry key="nativesDirectory" value="/home/bradsk88/Projects/EurekaCraft/build/natives"/>
    <mapEntry key="FORGE_GROUP" value="net.minecraftforge"/>
    <mapEntry key="target" value="fmluserdevclient"/>
    <mapEntry key="MC_VERSION" value="1.16.5"/>
  </mapAttribute>
</launchConfiguration>
